<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
  <appSettings>
    <add key="build_version_path_android" value="F:/SuperPublisher/SuperPublisher/bin/www/"/>
    <add key="build_version_path_ios" value="F:/SuperPublisher/SuperPublisher/bin/www/"/>
    
    <add key="full_version_path" value="F:/SuperPublisher/SuperPublisher/bin/www/"/>
    <add key="diff_version_path" value="F:/SuperPublisher/SuperPublisher/bin/www/"/>
  </appSettings>
</configuration>