<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <appSettings>
    <add key="www_root" value="G:/ConsoleApplication1/ConsoleApplication1/bin/www/"/>
    <add key="url_root" value="https://www.baidu.com/"/>
    <add key="apk_download_url" value="http://172.20.0.159:8080/jenkins/job/pw_huihe_package_android/lastSuccessfulBuild/deployedArtifacts/download/artifact.1/"/>
    <add key="apk_ver_download_url" value="http://172.20.0.159:8080/jenkins/job/pw_huihe_package_android/lastSuccessfulBuild/deployedArtifacts/download/artifact.2/"/>
    <add key="ipa_download_url" value="http://172.20.0.159:8080/jenkins/job/pw_huihe_package_ios/lastSuccessfulBuild/deployedArtifacts/download/artifact.1/"/>
    <add key="ipa_ver_download_url" value="http://172.20.0.159:8080/jenkins/job/pw_huihe_package_ios/lastSuccessfulBuild/deployedArtifacts/download/artifact.2/"/>

    <add key="qiniu_accesskey" value="P_td2wEWzj_ekysldxZ-CaGj4wJTcPpVZN1W3KC4"/>
    <add key="qiniu_secretkey" value="CFCv9IIJl2aJBgQVLjLslTgyj9ySm4aahxYxwDHz"/>
    <add key="qiniu_bucket" value="mszl"/>
    <add key="qiniu_url_root" value="https://dn-mszlipa.qbox.me/"/>

    <add key="default_android_package_type" value="apk.default.none.log_enable"/>
    <add key="default_ios_package_type" value="ipa.default.none.log_enable"/>
  </appSettings>
</configuration>